<template name="leftbar">
    <div class="ui vertical steps">
        <a class="active step basics">
            <i class="list icon"></i>
            <div class="content">
                <div class="title">Basics</div>
                <div class="description">Complete basic informations</div>
            </div>
        </a>
        <a class="step rewards">
            <i class="trophy icon"></i>
            <div class="content">
                <div class="title">Rewards</div>
                <div class="description">Enter rewards for funders</div>
            </div>
        </a>
        <a class="step story">
            <i class="history icon"></i>
            <div class="content">
                <div class="title">Story</div>
                <div class="description">Verify order details</div>
            </div>
        </a>
        <a class="step account">
            <i class="user icon"></i>
            <div class="content">
                <div class="title">Account</div>
                <div class="description">Verify your account and project details</div>
            </div>
        </a>
        <a class="step preview">
            <i class="eye icon"></i>
            <div class="content">
                <div class="title">Preview</div>
                <div class="description">Verify your account and project details</div>
            </div>
        </a>
        <a class="step confirm disabled">
            <i class="check icon"></i>
            <div class="content">
                <div class="title">Confirm</div>
                <div class="description">Verify your account and project details</div>
            </div>
        </a>
    </div>
</template>