<template name="newproject">
  <div class="ui container">
    <div class="ui internally celled grid">
      <div class="row">
        <div class="three wide column">
          <div class="ui vertical steps">
            <div class="active step">
              <i class="list icon"></i>
              <div class="content">
                <div class="title">Basics</div>
                <div class="description">Complete basic informations</div>
              </div>
            </div>
            <div class="step">
              <i class="trophy icon"></i>
              <div class="content">
                <div class="title">Rewards</div>
                <div class="description">Enter rewards for funders</div>
              </div>
            </div>
            <div class="step">
              <i class="history icon"></i>
              <div class="content">
                <div class="title">Story</div>
                <div class="description">Verify order details</div>
              </div>
            </div>
            <div class="step">
              <i class="user icon"></i>
              <div class="content">
                <div class="title">Account</div>
                <div class="description">Verify your account and project details</div>
              </div>
            </div>
            <div class="step">
                <i class="eye icon"></i>
                <div class="content">
                  <div class="title">Preview</div>
                  <div class="description">Verify your account and project details</div>
                </div>
              </div>
              <div class="step">
                  <i class="check icon"></i>
                  <div class="content">
                    <div class="title">Confirm</div>
                    <div class="description">Verify your account and project details</div>
                  </div>
                </div>
          </div>
        </div>
        <div class="ten wide column">
          <!-- {{> basics}} -->
          {{> rewardform}}
        </div>
        <div class="three wide column">
          {{> rightbar}}
        </div>
      </div>
    </div>
  </div>
</template>