<template name="rewards">
    <div class="ui card fluid internally stackable grid">
        <div class="row">
            <div class="six wide column">
                <label>Title :</label>
            </div>
            <div class="ten wide column">
                <input type="text" name="title" placeholder="Project title">
            </div>
        </div>
        <div class="row">
            <div class="six wide column">
                <label>Pledge Amount :</label>
            </div>
            <div class="ten wide column">
                <input type="text" name="amount" placeholder="Amount">
            </div>
        </div>
        <div class="row">
            <div class="six wide column">
                <label>Description :</label>
            </div>
            <div class="ten wide column">
                <input type="text" name="description" placeholder="Description">
            </div>
        </div>
        <div class="row">
            <div class="six wide column">
                <label>Estimated delivery :</label>
            </div>
            <div class="ten wide column">
                <input type="text" name="deliverydate" placeholder="Estimated delivery date">
            </div>
        </div>
        <div class="row">
            <div class="six wide column">
                <label>Shipping details :</label>
            </div>
            <div class="ten wide column">
                <input type="text" name="shipping" placeholder="Shipping details">
            </div>
        </div>
        <div class="row">
            <div class="six wide column">
                <label>Limit availability</label>
            </div>
            <div class="ten wide column">
                <div class="ui slider checkbox">
                    <input type="checkbox" name="limitededition">
                    <label class="text">Yes this is a limited edition</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six wide column">
                <label>Number of available item</label>
            </div>
            <div class="ten wide column">
                <input type="text" name="availabilitynumber" placeholder="Number of available item">
            </div>
        </div>
    </div>
</template>