<template name="rightbar">
    <div class="ui vertical steps">
        <div class="step">
            <i class="truck icon"></i>
            <div class="content">
                <div class="title">Our advices</div>
                <div class="description">Choose your shipping options</div>
            </div>
        </div>
        <div class="step">
            <i class="credit card icon"></i>
            <div class="content">
                <div class="title">Guide to success</div>
                <div class="description">Enter billing information</div>
            </div>
        </div>
        <div class="step">
            <i class="info icon"></i>
            <div class="content">
                <div class="title">Help</div>
                <div class="description">Verify order details</div>
            </div>
        </div>
    </div>
</template>