<template name="learnmore">
  <div class="ui vertical stripe segment container">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h2 class="ui header">The mission</h2>
          <p>We built Fundition to help bring creative projects to life. We measure our success as a company by how well we
            achieve that mission, not by the size of our profits. That’s why, in 2015, we became a Benefit Corporation. Benefit
            Corporations are for-profit companies that are obligated to consider the impact of their decisions on society,
            not only shareholders. Radically, positive impact on society becomes part of a Benefit Corporation’s legally
            defined goals. When we became a Benefit Corporation, we amended our corporate charter to lay out specific goals
            and commitments to arts and culture, making our values core to our operations, fighting inequality, and helping
            creative projects come to life. You can read our commitments in full below.</p>
        </div>
        <div class="six wide right floated column">
          <img src="images/ourmission.svg" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="eight wide right floated column">
          <img src="images/ourcommunity.svg" class="ui large bordered rounded image">
        </div>
        <div class="eight wide column">
            <h2 class="ui header">Steem community</h2>
            <p>Steem is an enormous global community built around POF, creativity and creative projects. Over 650 thousand people,
              from every continent on earth, have backed on Steem. Some of those people come from influential
              artists like De La Soul or Marina Abramović. Most come from amazing creative people you probably haven’t heard
              of — from Grandma Pearl to indie filmmakers to the band down the street. Every artist, filmmaker, designer, developer,
              and creator on Kickstarter has complete creative control over their work — and the opportunity to share it with
              a vibrant community of backers.</p>
          </div>
      </div>
      <div class="row">
        <div class="eight wide column">
          <h2 class="ui header">Our team</h2>
          <p>We're an independent, founder-controlled company of 5 people working together in an old pencil factory in New
            York City. We spend our time designing and building Fundition, connecting people around inspiring creative
            projects, and having a lot of fun doing it. We’re developers, designers, support specialists, writers, musicians,
            painters, poets, gamers, robot-builders — you name it. Between us, we’ve backed more than 34,000 projects (and
            launched plenty of our own).</p>
        </div>
        <div class="six wide right floated column">
            <img src="images/ourteam.svg" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>
</template>