<template name="preview">
    <div class='ui fluid card segment item'>
        <img src="https://steemitimages.com/{{imgFromBody body}}" width="100%" height="100%" alt="{{title}}" >     
        <a href='/{{author}}/{{permlink}}'>
            <span>{{title}}</span>
        </a>
        <span>{{created}}</span>
        <span>{{category}}</span>
        <div class="ui indicating progress">
            <div class="bar"></div>
            <div class="label">Funding</div>
          </div>
    </div>
</template>