<template name="topbar">
  <div class="ui blue inverted vertical masthead center aligned segment" style="background-image:url('images/topbanner.jpg');height:460px;">
    <div class="ui blue inverted segment container">
      <div class="ui large  menu">
        <a class="active item" href="/">Home</a>
        <a class="item" href="/explore">Explore</a>
        <a class="item" href="/newproject">Start a project</a>
        <a class="item" href="/learnmore">Learn more</a>
        <div class="right item">
          <a class="ui basic black button" href="/login">Log in</a>
          <a class="ui basic black button" href="https://steemit.com/pick_account" target="_blank" style="margin-left:5px;">Sign Up</a>
        </div>
      </div>
    </div>
    <h1 class="ui inverted header blue">
      Fundition.org
    </h1>
    <div class="ui inverted text container bottom attached">
      <div class="ui huge primary button">Get Started
        <i class="right arrow icon"></i>
      </div>
    </div>
  </div>
  <div class="ui container">
    <h1 class="ui blue header" style="text-align: center;padding:20px;">Entrepreneurs, artists, designers, and other creators find the resources they need to make their ideas a reality over
      Steem Blockchain.</h1>
  </div>
</template>