<template name="login">
    <div class="ui container">
        <div class="ui internally celled grid">
          <div class="row">
            <div class="three wide column">
              <img>
            </div>
            <div class="ten wide column">
              <h2>Login</h2>
              <form class="ui form">
                  <div class="field">
                      <label>Username :</label>
                      <input type="text" name="last-name" placeholder="Username">
                    </div>
                    <div class="field">
                        <label>Private posting key :</label>
                        <input type="text" name="last-name" placeholder="Private posting key">
                      </div>
                <div class="field">
                    <div class="ui slider checkbox">
                      <input type="checkbox" name="rememberme">
                      <label class="text">Remember me</label>
                    </div>
                  </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>I agree to the Terms and Conditions</label>
                  </div>
                </div>
                <button class="ui button" type="submit">Submit</button>
              </form>
            </div>
            <div class="three wide column">
              <img>
            </div>
          </div>
        </div>
      </div>
</template>